#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

:root{
  --light: #e2e2e2;
  --dark: #242424;
  --mostaza: #D4AF37;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name, .subname{
  margin: 0;
}

.name{
  font-size: 3rem;
  font-weight: 400;
}

.subname{
  margin-top: -10px;
  font-size: 1.4rem;
}

.element-container{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.element{
  position: relative; /*for the effect on the hover*/
  font-size: 1.2rem;
  cursor: pointer;
}

.element::before {
  content: '';
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
  opacity: 0;
}

.element:hover::before {
  bottom: -1rem;
  opacity: 1;
}

.dynamicText{
  margin: 1.2rem 0;
  font-size: 30px;
  font-weight: 700;
}

.intro{
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  font-size: 52px
}

.intro-span{
  color: var(--mostaza);
}

.initContainer{
  position: relative;
  height: 90vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.profile{
  width: 100px;
  border-radius: 50%;
}

.typingContainer{
  height: 30vh;
  margin: 0 4rem;
}

.socialMediaContainer{
  position: absolute;
  width: 15rem;
  right: 0px;
  top: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media-container{
  text-decoration: none;
  background-color: white;
  width: 12rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  transform: translateX(10.3rem);
  justify-content: space-between;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: transform 0.7s ease;
  gap: 1rem;
}

.media-container:hover{
  transform: translateX(3rem);
}

.media-container img{
  margin-left: 0.7rem;
  width: 3rem;
}

.nameMedia{
  color: var(--dark);
  font-size: 20px;
  margin-right: 1rem;
}

.downloadButton{
  position: absolute;
  bottom: 3rem;
  left: 40%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 14rem;
  height: 3rem;
  background-color: white;
  color: var(--dark);
  font-weight: 700;
  border-radius: 3rem;
  font-size: 1.2rem;
  transition: all 0.7s ease;
}

.right-arrow{
  width: 2rem;
  transition: all 0.7s ease;
}

.downloadButton:hover{
  transform: scale(105%);
}

.downloadButton:hover .right-arrow {
  transform: rotate(90deg); /* Cambio aquí: aplica la rotación al hacer hover sobre el botón */
}

.about-me{
  height: 100vh;
  background-color: red;
}

.project{
  height: 100vh;
  background-color: blue;
}

.contact{
  height: 100vh;
  background-color: green;
}